<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Base Page{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles/base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
</head>
<body>
  <div class="navbar">
    <nav id="navbar">
      <div class="nav-wrapper">
        <div class="logo">
          <a href="{% url 'home' %}"><img src="/static/images/ll-logo.png"></a>
          <a href="{% url 'home' %}">Lyric Link</a>
        </div>
        {% if user.is_authenticated %}
          <ul id="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'music' %}">Music</a></li>
            <li><a href="{% url 'friends' %}">Friends</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        {% else %}
          <ul id="menu">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
          </ul>
        {% endif %}
      </div>      
    </nav>
  </div>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>