{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
  <h1>{{ user.profile }}'s Tracks</h1>
  <h1>{{ user.profile }}'s Tracks</h1>
    <div id="user_tracks">
      {% for track in user.profile.tracks.all %}
      {% for track in user.profile.tracks.all %}
        <div id="track_object">
          <a target="_blank" href="{{ track.url }}"> <img src="{{ track.img }}" width="165"></a>
          <p>{{ track.title }}</p>
          <p>{{ track.artist }}</p>
          <form method="post" action="{% url 'remove_track' track.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </div>
      {% endfor %}
      
      <div id="track_object">
        <a href="{% url 'music' %}"><img class="add_music" src="/static/images/add_icon.png" width="100"></a>
      </div>
    </div>

    <div id="friend_tracks">
      <h1>Friend Tracks</h1>
      {% if not user.profile.friends.all %}
        <h3>You haven't followed anyone yet! Click <a href="{% url 'friends' %}">HERE</a> to find and make friends.</h3>
      {% endfor %}
      
      <div id="track_object">
        <a href="{% url 'music' %}"><img class="add_music" src="/static/images/add_icon.png" width="100"></a>
      </div>
    </div>

    <div id="friend_tracks">
      <h1>Friend Tracks</h1>
      {% if not user.profile.friends.all %}
        <h3>You haven't followed anyone yet! Click <a href="{% url 'friends' %}">HERE</a> to find and make friends.</h3>
      {% else %}
        {% for friend in user.profile.friends.all %}
          {% if friend.profile.tracks.all %}
            <form method="post" action="{% url 'remove_friend' friend.id %}">
              {% csrf_token %}
              <h2>{{ friend.username }}</h2>
              <button id="remove_button" type="submit">Remove Friend</button>
            </form>
            <div id="friend_object">
              {% for track in friend.profile.tracks.all %}
                <div id="track_object">
                  <a target="_blank" href="{{ track.url }}"> <img src="{{ track.img }}"></a>
                  <p>{{ track.title }}</p>
                  <p>{{ track.artist }}</p>
                  <form method="post" action="{% url 'save_track' %}">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{ track.title }}">
                    <input type="hidden" name="artist" value="{{ track.artist }}">
                    <input type="hidden" name="img" value="{{ track.img }}">
                    <input type="hidden" name="url" value="{{ track.url }}">
                    <button type="submit">Save</button>
                  </form>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <form method="post" action="{% url 'remove_friend' friend.id %}">
              {% csrf_token %}
              <h1>{{ friend.username }}</h1>
              <button id="remove_button" type="submit">Remove Friend</button>
            </form>
            <div id="empty_friend">
              <h2>Yikes, {{ friend.username }} hasn't saved any tracks yet</h2>
              <p>Remind them to stop gatekeeping and share their new tunes</p>
            </div><br>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="no_friends">
      <br><br><br><br>
      <h2>Still haven't found anything that you vibe with?</h2>
      <h3>Try sharing Lyric Link with friends or make new ones <a href="{% url 'friends' %}">HERE</a></h3>
    </div>
    <div class="no_friends">
      <br><br><br><br>
      <h2>Still haven't found anything that you vibe with?</h2>
      <h3>Try sharing Lyric Link with friends or make new ones <a href="{% url 'friends' %}">HERE</a></h3>
    </div>

  {% else %}
    <p>You are not logged in</p>
    <p>Please <a href="{% url 'login' %}">Log In</a> to continue.</p>
  {% endif %}

{% endblock %}