{% extends "base.html" %}

{% block title %}Music Search{% endblock %}

{% block content %}
  <h1>Discover Music</h1>

  {% if user.is_authenticated %}
    <div id="search_bar">
      <form method="get" action="{% url 'music' %}">
        <input type="text" name="q" placeholder="Search">
        <button type="submit">Search</button>
      </form><br>
    </div>

    <p>Showing results for '{{ search_query }}' :</p> 


    <div id="search_tracks">
      {% for key, value in response.items %}
        <div id="track_result">
          <a href="{{ value.url }}"><img src="{{ value.img }}" width="180" alt="Album cover art for song {{ value.name }}"></a>
          <p>{{value.name}} by {{ value.artist }}</p>
          <form method="post" action="{% url 'save_track' %}">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{ value.name }}">
            <input type="hidden" name="artist" value="{{ value.artist }}">
            <input type="hidden" name="img" value="{{ value.img }}">
            <input type="hidden" name="url" value="{{ value.url }}">
            <button type="submit">Save Track</button>
          </form>
        </div>
      {% endfor %}
    </div>


  {% else %}
    <p>You are not logged in</p>
    <p>Please <a href="{% url 'login' %}">Log In</a> to continue.</p>
  {% endif %}

{% endblock %}