{% extends "base.html" %}

{% block title %}Music Search{% endblock %}

{% block content %}
  <h1>Search For Music</h1>

  {% if user.is_authenticated %}
    <form action="../static/scripts/search_song_title.py">
      <label for="searchbar">Search by Song Title</label>
      <input id="searchbar" type="text">
      <input type="submit" value="Search For Song">
    </form>

    <div id="search_response">
      

    </div>
    

  {% else %}
    <p>You are not logged in</p>
    <p>Please <a href="{% url 'login' %}">Log In</a> to continue.</p>
  {% endif %}

{% endblock %}