{% extends "base.html" %}

{% block title %}Friend Search{% endblock %}

{% block content %}
  <h1>Find Friends</h1>
  {% if user.is_authenticated %}
    <div id="search_bar">
      <form method="get" action="{% url 'friends' %}">
        <input type="text" name="q" placeholder="Search">
        <button type="submit">Find Friends</button>
      </form>
    </div>
    {% if search_query %}
      <p>Showing results for '{{ search_query }}'</p> 
    {% endif %}
    

    <div id="search_friends">
      {% for user in users %}
        <div id="friend_result">
          <p>{{ user }}</p>
          <form method="post" action="{% url 'add_friend' user.id %}">
            {% csrf_token %}
            <button type="submit">Add Friend</button>
          </form>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <p>You are not logged in</p>
    <p>Please <a href="{% url 'login' %}">Login</a> to continue.</p>
  {% endif %}
{% endblock %}